*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-size-base: 1.6rem;

html {
    font-size: 62.5%; //1rem = 10px;

    @include respond(tablet) {
        font-size: 50%; // 1rem = 8px;
    }
}

body {
    overflow-x: hidden;
}

.navbar,
.footer {
    background-color: $main-blue-color;
    color: white !important;
    padding: 1rem;
}

.navbar .navbar-nav > li .navbar-item > a .nav-link,
.navbar .navbar-brand {
    color: white !important;
}

main {
    min-height: calc(100vh - 110px);
    margin-top: 92px;
    @include respond(tablet) {
        margin-top: 74px;
    }
}

// on opening of the mobile menu, need it just for the opacity
.overlay {
    background-color: $main-white-color;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.6;
    z-index: 9998;

    &--active {
        display: block;
    }
}
