// Abstracts folder
@import "abstracts/variables";
@import "abstracts/mixins";

// Base folder
@import "base/base";
@import "base/animations";

// Components folder
@import "components/heading";
@import "components/mappa";
@import "components/button";
@import "components/intro";
@import "components/search";
@import "components/homepage";
@import "components/pagination";
@import "components/apartament";
@import "components/cover";
@import "components/admin_apartament";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
