.admin__apartament--title {
    color: $main-blue-color
}

.admin__apartament--address {
    color: $main-blue-color
}

.admin__apartament--delete_form {
  display: inline-block;
}

.admin__apartament--button_sponsor_text{
  color: $main-blue-color
}
