.button {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 6rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        letter-spacing: 3px;
        font-size: $font-size-base;

        //Change for the <button> element
        cursor: pointer;
    }

    &:hover {
        border: 2px solid transparent;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($main-black-color, 0.2);
        color: $main-white-color;

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($main-black-color, 0.2);
    }

    &--blue {
        border: 2px outset lighten($color: $main-blue-color, $amount: 50);
        background-color: $main-blue-color;
        color: $main-white-color;

        &::after {
            background-color: $main-blue-color;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}
