.cover {
    position: relative;
    height: 90vh;
    // margin-top: 9rem;
    background-image: url("img/sfondo.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    @include respond(tablet) {
        margin-top: 9rem;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100vw;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -60%);

        text-align: center;
    }

    &__image {
        width: 45rem;
        @include respond(phone) {
            width: 35rem;
        }
        height: auto;
    }

    &__cta {
        margin-top: 5rem;
    }
}
