.cover {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-image: url("https://cdn.pixabay.com/photo/2017/03/03/13/56/key-2114046_1280.jpg");
    background-image: url("https://cdn.pixabay.com/photo/2017/06/03/10/06/house-2368389_1280.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

    &__text {
        border-radius: 1rem;
        text-align: center;
        background-color: rgba($main-black-color, 0.7);
        padding: 5rem;
        color: white;
    }

    &__title {
        font-size: 6rem;
        letter-spacing: 2px;
    }

    &__description {
        display: block;
        font-size: 3rem;
        letter-spacing: 1px;
    }

    &__cta {
        margin-top: 3rem;
    }
}
