.heading {
    &--secondary {
        font-size: 3rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;

        @include respond(tablet) {
            font-size: 2.6rem;
        }

        @include respond(phone) {
            font-size: 2.2rem;
        }
    }

    &--transparent {
        display: inline-block;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        padding-bottom: 0.5rem;
    }
}
