.homepage {
    &__title-container {
        text-align: center;
        padding: 1rem;
    }

    &__heading {
        background-image: linear-gradient(
            to right,
            $main-black-color,
            lighten($color: $main-blue-color, $amount: 50)
        );
        margin: 8rem 0 5rem;
        @include respond(tablet) {
            margin: 6rem 0 3.5rem;
        }
        @include respond(phone) {
            margin: 4rem 0 2.5rem;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 33rem);
        grid-column-gap: 3.5rem;
        grid-row-gap: 3.5rem;
        align-content: center;
        justify-content: center;
    }

    &__apartament {
        position: relative;
        cursor: pointer;
        border: 2px outset lighten($color: $main-blue-color, $amount: 50);
        background-color: #eff4ff;
        transition: 0.3s transform;

        &:hover {
            transform: scale(1.05);
            border: 2px inset lighten($color: $main-blue-color, $amount: 50);
        }

        &--image-container {
            width: 100%;
            height: 25rem;
            background-size: cover;
            background-position: center;
            box-shadow: 0px 6px 5px -4px rgba(0, 11, 35, 1);
        }

        &--title-container {
            text-align: center;
            padding: 2rem 1rem;
        }

        &--title {
            font-size: 2rem;
            color: $main-blue-color;
        }

        &--sponsored {
            font-size: 1.4rem;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem 1rem;
            // background-color: $main-blue-color;
            color: $main-white-color;

            animation: colorchange 2s linear infinite;
        }
    }
}
