.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-image: linear-gradient(#3838383a, #3838383a),
        url("https://cdn.pixabay.com/photo/2018/05/02/21/29/travel-3369746_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &__text {
        color: white;
        font-size: 40px;
    }

    &__select {
        width: 400px;
        display: block;
        color: darkred;
        font-size: 16px;
        align-items: center;
        margin-top: 40px;
    }
}
