.search {
    &__checkbox {
        &--quad {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            position: relative;
            top: 7.33333px;
            right: 0;
            bottom: 0;
            left: 0;
            height: 25px;
            width: 25px;
            transition: all 0.15s ease-out 0s;
            background: $main-blue-color;
            border: none;
            color: $main-white-color;
            cursor: pointer;
            display: inline-block;
            margin-right: 0.5rem;
            outline: none;
            position: relative;
            z-index: 5;

            &:hover {
                background: lighten($color: $main-blue-color, $amount: 50);
            }

            &:checked {
                background: lighten($color: $main-blue-color, $amount: 20);
            }

            &:checked::before {
                height: 10px;
                width: 10px;
                position: absolute;
                content: "✔";
                display: inline-block;
                font-size: 26.66667px;
                text-align: center;
                line-height: 25px;
            }

            &--label {
                display: flex;
                line-height: 15px;
                align-items: center;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
}
