.spaghetti {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    display: none;
    cursor: pointer;
    z-index: 10;

    @include respond(phone) {
        display: block;

        &--cooked &__center {
            background-color: transparent;

            &::before {
                top: 0;
                transform: rotate(135deg);
            }

            &::after {
                top: 0;
                transform: rotate(-135deg);
            }
        }
    }

    &__center {
        position: relative;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $main-white-color;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.3s;
        }

        &::before {
            top: -0.9rem;
        }

        &::after {
            top: 0.9rem;
        }
    }
}
